.button-work {
    font-size: 1rem;
    color: var(--secondary-color);
    background-color: var(--main-bg-color);
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    padding: 1rem;
}