.auth-heading {
    font-size: 2.5rem;
    text-align: center;
}

.auth-choice {
    text-align: center;
    position: relative;
}

.auth-choice::before,
.auth-choice::after {
    content: "";
    width: 45%;
    top: 50%;
    left: 0;
    border-top: 1px solid var(--secondary-color);
    position: absolute;
}

.auth-choice::after {
    left: auto;
    right: 0;
}