.cart-toggle {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.cart-logo {
    background-color: var(--secondary-bg-color);
    padding: 1rem;
    border-radius: 20px;
}

.cart-count {
    position: absolute;
    top: -15px;
    left: -15px;
    font-weight: 700;
    color: var(--main-bg-color);
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 0.1rem 0.75rem;
}

.cart-heading {
    font-family: "Playfair Display", serif;
    padding: 1rem;
}

.cart-item {
    padding: 1rem 0;
    border-bottom: 1px solid var(--secondary-color);
}

.cart-items {
    max-height: 65vh;
    overflow: auto;
}

.container-cart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 5px 5px var(--uplift-color);
    z-index: 10;
    transition: width 0.2s;
}

.show-cart {
    padding: 0 1rem;
    width: 25%;
}