.details,
.summary {
    border-radius: 20px;
    box-shadow: 0 5px 5px var(--uplift-color);
    padding: 1rem;
}

.details input {
    width: 100%;
}

.summary {
    background-color: var(--secondary-bg-color);
}

.checkout-product {
    padding: 0.5rem;
    border-top: 1px dotted var(--main-text-color);
}

.checkout-products {
    max-height: 40vh;
    overflow-y: auto;
}

.method {
    list-style-type: none;
}

.method li {
    padding: 1rem;
    border: 1px solid var(--secondary-bg-color);
    transition: all 0.5s;
}

.method li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.method li:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.method li.active {
    background-color: var(--secondary-color-lighter);
    border: 1px solid var(--secondary-color);
}

.confirm {
    position: fixed;
    top: 30%;
    left: 40%;
    background-color: var(--secondary-bg-color);
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    z-index: 10;

}

.blur {
    filter: blur(5px);
    pointer-events: none;
}