/* .add-form {
    background-color: var(--app-secondary);
    padding: 2rem 1rem;
    border-radius: 20px;
    box-shadow: 0 5px 5px var(--uplift-color);
    position: absolute;
    top: 1%;
}

input[type="file"] {
    border-bottom: none;
}

.button-submit {
    font-size: 1.25rem;
    color: var(--app-secondary);
    background-color: var(--app-primary);
    border: 2px solid var(--app-primary);
    padding: 0.25rem 1rem;
} */