@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root {
  --main-bg-color: #0c0b08;
  --secondary-bg-color: #191919;
  --secondary-book-bg-color: #0c0c0c;
  --secondary-color: #dcca87;

  --border-color: #26231c;
  --uplift-color: #000000;

  --main-text-color: #f5f5f5;
  --info-text-color: #a4a3a3;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter";
  font-size: 1.5rem;
  line-height: 1.5;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.flex,
.flex-column,
.flex-center {
  display: flex;
}

.flex-gap-20 {
  gap: 20px;
}

.flex-gap-50 {
  gap: 50px;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.mheight-70 {
  min-height: 70vh;
}

.cards {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.card {
  background-color: var(--secondary-bg-color);
  box-shadow: 0 5px 5px var(--uplift-color);
  border-radius: 20px;
  padding: 1rem;
}

.product-name {
  font-size: 1.15rem;
  font-weight: 700;
}

.product-price {
  font-size: 1rem;
}

.link-nav,
.link-menu {
  color: var(--main-text-color);
  text-decoration: none;
  transition: color 0.2s;
}

.link-nav {
  font-family: "Montserrat", serif;
  font-size: 1rem;
}

.link-active {
  color: var(--secondary-color);
}

.main {
  min-height: 70vh;
  padding: 3rem;
}

.intro {
  max-width: 36rem;
}

.hero {
  position: relative;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: -1;
  background-color: var(--secondary-color);
}

.hero::before {
  left: -20px;
  bottom: -20px;
}

.hero::after {
  right: 0px;
  top: -20px;
}

.info {
  font-size: 1.15rem;
  color: var(--info-text-color);
}

.link-button {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: var(--main-bg-color);
  text-decoration: none;
  padding: 1rem 1.5rem;
  max-width: max-content;
}

.link-credits {
  font-size: 1rem;
  color: var(--main-bg-color);
  text-decoration: none;
  writing-mode: vertical-rl;
}

h1,
h5 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3.5rem;
  color: var(--secondary-color);
}