.menu-div {
    display: grid;
    align-items: start;
    grid-template-columns: auto 1fr;
    gap: 80px;
    padding: 2rem 0;
}

.flip-container {
    perspective: 1000px;
    height: 250px;
}

.flip-container:hover .flip-card {
    transform: rotateY(180deg);
}

.flip-card {
    height: 100%;
    width: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}

.cards {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 50px;
}

.card {
    background-color: var(--secondary-bg-color);
    box-shadow: 0 5px 5px var(--uplift-color);
    border-radius: 20px;
    padding: 1rem;
}

.product-name {
    font-family: "Playfair Display", serif;
    font-size: 1.15rem;
}

.product-price {
    font-size: 1rem;
}

.product-info {
    max-width: 10rem;
}

.btn-add-cart {
    font-weight: 700;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    background-color: var(--secondary-color);
    border: none;
}