.navbar {
    background-color: var(--secondary-bg-color);
    list-style-type: none;
    box-shadow: 0 5px 5px var(--uplift-color);
    padding: 1rem 2rem;
    width: max-content;
    border-radius: 20px;
}

.menu-div {
    display: grid;
    align-items: start;
    grid-template-columns: auto 1fr;
    gap: 40px;
    padding: 2rem 0;
}

.navbar-menu {
    font-size: 1.15rem;
}

.nav-li {
    list-style-type: none;
}

.navbar button {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: transparent;
    color: var(--main-text-color);
    border: none
}

.logo button {
    font-family: Playfair Display, serif, sans-serif
}