.navbar {
    background-color: var(--secondary-bg-color);
    list-style-type: none;
    box-shadow: 0 5px 5px var(--uplift-color);
    padding: 1rem 2rem;
    width: max-content;
    border-radius: 20px;
}

.navbar button {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: transparent;
    color: var(--main-text-color);
    border: none
}

.logo button {
    font-family: Playfair Display, serif, sans-serif
}