.navbar {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--main-text-color);
    background-color: var(--secondary-bg-color);
    box-shadow: 0 5px 5px var(--uplift-color);
    padding: 1rem 2rem;
    width: max-content;
    border-radius: 20px;
    border: none
}

.navbar-menu {
    font-size: 1.15rem;
}

.navbar li {
    list-style-type: none;
}