.navbar {
    background-color: var(--app-secondary);
    box-shadow: 0 5px 5px var(--app-uplift);
    padding: 1rem 2rem;
    width: max-content;
    border-radius: 20px;
    border: none;
    z-index: 2;
}

.navbar-menu {
    font-size: 1.15rem;
}

.navbar li {
    list-style-type: none;
}