.navbar {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--main-text-color);
    background-color: var(--secondary-bg-color);
    box-shadow: 0 5px 5px var(--uplift-color);
    padding: 1rem 2rem;
    width: max-content;
    border-radius: 20px;
    border: none;
    z-index: 2;
}

.navbar-menu {
    font-size: 1.15rem;
}

.navbar li {
    list-style-type: none;
}

.dropdown {
    position: relative;
    background-color: transparent;
    box-shadow: none;
}

.dropdown>img {
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s;
}

.active-dropdown {
    opacity: 1;
    height: auto;
    padding: 1rem;
}

@keyframes dropdown {
    from {
        opacity: 0.5;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}